{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book a Table</title>
    <link rel="stylesheet" href="{% static 'bookings/style.css' %}">
</head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

 <!-- fav icon -->
 <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/free/png-256/free-burger-3069113-2550746.png">

<body 
style="
background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudCUyMGNvb2t8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
">


<div class="booking-container">
    <div class="booking-box">
        <h2>Book a Table</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Your Name" required>

            <input type="tel" name="phone" placeholder="Phone Number" required>

            <input type="number" name="guests" placeholder="How many people" min="1" required>

            <input type="date" name="date" required>

            <textarea name="message" placeholder="Special message (optional)"></textarea>

            <button type="submit">Book Now</button>
        </form>
    </div>
</div>

</body>
</html>
